@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "MaplestoryOTFBold";
}

div[id="title_div"] h1{
    background-color: #222;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #ffeaa7;
    z-index:10;
}

input[id="menuicon"] {display:none;}
input[id="menuicon"] + label {right:0;z-index:20;padding:5px;margin:15px;display:block;width:30px;height:20px;position:absolute;cursor:pointer;}
input[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:5px;border-radius:30px;background:#000;transition:all .35s;}
input[id="menuicon"] + label span:nth-child(1) {top:0;}
input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);} /* ����ϰ� ����� �� �ִ� style top:calc(50% - 2.5px); margin-top:-2.5px;*/
input[id="menuicon"] + label span:nth-child(3) {bottom:0;}
input[id="menuicon"]:checked + label {z-index:30;}
input[id="menuicon"]:checked + label span {background: #8660ee;}
input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
div[class="sidebar"] {width:300px;height:100%;background:#222;position:absolute;top:60;right:-300px;z-index:5;transition:all .35s; font-family:MaplestoryOTFBold; text-align: center;}
input[id="menuicon"]:checked + label + div {right:0;}


button[class="btn-save"] {
	background:linear-gradient(to bottom, hsl(273, 93%, 83%) 5%);
	background-color:#dfbdfa;
	border-radius:22px;
	display:inline-block;
    color:#ffffff;
	font-size:18px;
	padding:18px 40px;
	text-decoration:none;
    margin:40px;
}

div[id="comparison"] {
    padding-top:50px;
    color:white;
}

div[id="houseInfo_1"] {
    padding-bottom:50px;
}