@font-face {
	font-family: 'MaplestoryOTFBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;}



.marker {
    width: 15px;
    height: 15px;
    background: #8A9FF5;
    border: 1px solid black;
    border-radius: 50%;
  }
  
  .infowindow_wrap {
    background: white;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
  }
  
  .infowindow_title {
    font-size: 15px;
    font-weight: bolder;
  }
  
  .infowindow_emg{
    font-size: 13px;
    font-weight: normal;
  }

  .infowindow_divide{
    font-size: 13px;
    font-weight: bold;
    color: blue;
  }

  .cluster1 {
      width: 30px;
      height: 30px;
      line-height: 31px;
      font-size: 12px;
      border-radius: 50%;
      color: white;
      text-align: center;
      font-weight: bold;
      background:#F56F90;
  }

  .cluster2 {
    width: 35px;
    height: 35px;
    line-height: 36px;
    font-size: 12px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
    background: #F33F6C;
}

.cluster3 {
    width: 40px;
    height: 40px;
    line-height: 41px;
    font-size: 12px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
    background: #E52554;    
}

input[id="menuicon"] {display:none;}
input[id="menuicon"] + label {z-index:20;padding:5px;margin:15px;display:block;width:30px;height:20px;position:absolute;cursor:pointer;}
input[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:5px;border-radius:30px;background:#000;transition:all .35s;}
input[id="menuicon"] + label span:nth-child(1) {top:0;}
input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);} /* ����ϰ� ����� �� �ִ� style top:calc(50% - 2.5px); margin-top:-2.5px;*/
input[id="menuicon"] + label span:nth-child(3) {bottom:0;}
input[id="menuicon"]:checked + label {z-index:30;}
input[id="menuicon"]:checked + label span {background: #8660ee;}
input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
div[class="sidebar"] {width:300px;height:100%;background:#222;position:absolute;top:60;left:-300px;z-index:5;transition:all .35s; font-family:MaplestoryOTFBold; text-align: center;}
input[id="menuicon"]:checked + label + div {left:0;}
div[id="checkbox_label"] {
	display:inline-block; width:258px; line-height:45px;
}

section[class="option_box"] { margin-top: 100px; padding-bottom: 50px;}
section[class="option_box"] h3 {font-size:25px; color:rgb(178, 130, 255);}

section[class="check_box"] h3 {font-size: 25px; color:rgb(178, 130, 255);}
section[class="check_box"] {padding-bottom: 50px; color:white; font-size:18px;}

input[id="search"] {
	background:linear-gradient(to bottom, hsl(273, 93%, 83%) 5%);
	background-color:#dfbdfa;
	border-radius:22px;
	display:inline-block;
  color:#ffffff;
	font-size:18px;
	padding:18px 40px;
	text-decoration:none;
}

input[class="check_tag"] {
	padding:0px;
	margin:3px;
}



