h1 {
    margin:40px 0 20px 50px;
}
h3 {
    font-size: 17px;
}
form {
    float: left;
    width : 30%;
    margin-left: 50px;
}
#map {
    float: right;
    width: 60%;
    margin-right: 50px;
}
form #search {
    text-align: center;

    width: 200px;
    height: 40px;
    margin-top: 20px;

    font-size: 17px;
    font-weight: bold;

    border: 0;
    border-radius: 5px;
    background-color: rgb(164, 209, 242);
}
form #protector, #facility {
    width: 90%;
    height: 20px
}
/* 임시 */
.loca {
    margin-left: 50px; 
}

.marker {
    width: 15px;
    height: 15px;
    background: greenyellow;
    border: 1px solid black;
    border-radius: 50%;
  }
  
  .infowindow_wrap {
    background: white;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.2);
  }
  
  .infowindow_title {
    font-size: 15px;
    font-weight: bolder;
  }
  
  .infowindow_emg{
    font-size: 13px;
    font-weight: normal;
  }

  .infowindow_divide{
    font-size: 13px;
    font-weight: bold;
    color: blue;
  }

  .cluster1 {
      width: 30px;
      height: 30px;
      line-height: 31px;
      font-size: 12px;
      border-radius: 50%;
      color: white;
      text-align: center;
      font-weight: bold;
      background:#F56F90;
  }

  .cluster2 {
    width: 35px;
    height: 35px;
    line-height: 36px;
    font-size: 12px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
    background: #F33F6C;
}

.cluster3 {
    width: 40px;
    height: 40px;
    line-height: 41px;
    font-size: 12px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
    background: #E52554;
}