<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="UTF-8">
        <title>소개페이지</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/css/intro.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Yeon+Sung&display=swap" rel="stylesheet">

    </head>
</head>
<body>
    <div id="content" class="outer_container">
        <div id="introduce" class="big_container">
            <h1 class="big_title">서비스 소개</h1>
            <div id="introduce_text" class="middle_container">
                <p class="big_text" style="font-family: 'Yeon Sung', cursive; font-size: 50px;">
                    '걱정마소'는 안심 바운더리 내 거주지 검색 서비스입니다.
                    <br><br>보호자와 병원의 위치를 기반으로 하여
                    <br>노인과 보호자 모두가 안심할 수 있는 안심 바운더리를 찾아주고,
                    <br>그 안에서 최적의 거주지를 찾을 수 있게끔 도와줍니다.
                </p>
            </div>
            <div id="introduce_user" class="middle_container">
                <p class="middle_text">
                    <p class="introduce_text">
                        " 지방에 계신 어머니를 서울로 모셔오고 싶은데,
                        <br>제가 사는 곳과 가깝고 병원이랑도 가까워서 안심할 수 있는 집을 찾고 싶어요. "
                    </p>
                </p>
                <p class="middle_text">
                    <div> 
                        <p class="introduce_text"> 
                            " 아들이랑 가까이 살고 싶고 이왕이면 병원이랑도 가까웠으면 좋겠는데,
                            <br>제가 원하는 가격대와 평수에 맞춰서 집을 검색하고 싶어요. "
                        </p>    
                    </div>
                </p>
                <p class="middle_text">
                    <div>
                        <p class="introduce_text">
                            " 암 치료 때문에 정기적으로 대학 병원을 방문해야 하는데,
                            <br>병원과 자녀의 집 사이에 적당한 곳으로 이사를 가야할 것 같아요. "
                        </p>
                    </div>
                </p>
            </div>
        </div>
        <div id="motive" class="big_container">
            <h1 class="big_title">서비스 기획 동기</h1>
            <div id="motive_1" class="middle_container">
                <h1 class="middle_title">왜 노인을 대상으로 한 서비스를 기획하게 되었는가?</h1>
                <div class="small_container">
                    <h3 class="small_title">근거 1: 나이가 들수록 의료 지원은 점점 필요해지는데, 노인 스스로 의료 문제를 해결하기에는 어려움이 많습니다. </h3>
                    <img src="../static/image/data_img/1.png" alt="My Image">
                    <p class="middle_text">
                        20대 초반을 기점으로 개인을 부양해주는 가족의 수가 눈에 띄게 줄어듦을 확인할 수 있습니다.
                        <br>자립 능력이 부족한 20대 이전과 노인의 경우,
                        <br>20대 이전에는 이들을 부양해줄 가족이 충분한 반면, 노인들에게는 이들을 부양해줄 가족이 충분하지 않다고 보았습니다.
                    </p>
                    <img src="../static/image/data_img/2.png" alt="My Image">
                    <p class="middle_text">50대를 기점으로 의료 급여 적용 인구가 눈에 띄게 증가함을 확인할 수 있습니다.</p>
                    <img src="../static/image/data_img/0.png" alt="My Image">
                    <p class="middle_text">
                        의료 급여 지원을 받는다는 것은 본인의 의료 문제에 대해 외부의 지원이 필요하다는 의미로 볼 수 있습니다.
                        <br>데이터 분석 결과, 이러한 의료 급여 적용 인구가 50대 이후부터 눈에 띄게 증가함을 확인할 수 있었고,
                        <br>50대 이후 노인들이 자신의 의료 문제 해결에 어려움을 겪고 있으며 외부의 도움을 필요로 할 것이라 보았습니다.
                    </p>
                </div>
                <div class="small_container">
                    <h3 class="small_title">근거 2: 저소득층 노인들의 경우, 의료 급여의 주 대상자로서 외부로부터의 도움이 더욱 필요한 상황입니다. </h3>
                    <img src="../static/image/data_img/3.png" alt="My Image">
                    <img src="../static/image/data_img/4.png" alt="My Image">
                    <p class="middle_text">
                        50대 이상 인구 비율이 가장 낮은 세종시의 경우, 의료 급여 적용 인구 비율 또한 다른 지역에 비해 낮음을 확인할 수 있습니다.
                        <br>평균 소득이 높은 서울, 울산, 경기 지역과, 평균 연령이 가장 낮은 세종시의 의료 급여 수급 인구가 낮다는 사실을 통해,
                        <br>저소득층 노인 인구들이 의료 급여의 주 대상자이며 그만큼 어려움을 많이 겪고 있을 것이라 보았습니다.
                    </p>
                </div>
            </div>
            <div id="motive_2" class="middle_container">
                <h1 class="middle_title">왜 거주지와 위치에 집중한 서비스를 기획하게 되었는가?</h1>
                <div class="small_container">
                    <h3 class="small_title">
                        근거 1: 
                    </h3>
                    <p class="title_text">
                        노인의 경우 자녀의 거주지로부터의 물리적 거리가 이들의 심리적, 신체적 건강에 큰 영향을 끼칩니다.
                        <br>중증 질환을 갖고 있는 노인일수록 이들의 건강 관리에 자녀와의 물리적 거리가 더욱 중요하게 작용합니다. 
                        <br>자녀와 같이 사는지 따로 사는지, 따로 산다면 얼마나 가까이 사는지 등이 노인의 건강 관리에 있어서 매우 중요한 요소라고 판단하였고,
                        <br>자녀 혹은 보호자와 같이 살지는 못하더라도 가까이에 거주할 필요성이 있다고 보았습니다.
                    </p>
                    <img src="../static/image/data_img/5.png" alt="My Image">
                    <img src="../static/image/data_img/6.png" alt="My Image">
                    <p class="middle_text">
                        장기 요양 실태 조사 결과에 따르면, 가족과 정부,사회가 부모 부양을 해야 한다는 의견이 가장 많았으며,
                        <br>실제로 장기 요양 급여에 관련된 의사결정의 대부분을 자녀가 결정하고 있음을 확인할 수 있습니다.
                        <br>노인의 부양 및 의사결정에 자녀 혹은 보호자가 매우 중요한 역할을 담당하고 있고,
                        <br>노인의 건강 상태가 좋지 않은 경우, 그들의 건강 관련 의사결정을 대신할 만큼 자녀 혹은 보호자의 역할이 더욱 중요해짐을 알 수 있습니다. 
                    </p>
                    <img src="../static/image/data_img/7.png" alt="My Image">
                    <img src="../static/image/data_img/8.png" alt="My Image">
                    <p class="middle_text">
                        그러나 장기요양 재가수급자 대상 가구 조사에 따르면, 약 60%가 자녀와 함께 살고 있지 않는 것으로 나타났습니다.
                        <br>일상생활에서 타인의 도움이 필요하다고 판단되는 건강 상태의 장기요양 재가수급자를 대상으로 한 조사라는 점을 감안한다면,
                        <br>60%라는 자녀 비동거 가구 비율이 매우 높다고 판단했습니다.
                        <br>또한 이들 중 노인 단독가구의 비동거 가족과의 거주 거리를 분석한 결과,
                        <br>동일 시군구 외에 거주하는 비율도 절반에 가까워 독거 수급자 노인의 돌봄 공백에 대응할 필요성이 크다고 보았습니다.
                    </p>
                </div>
                <div class="small_container">
                    <h3 class="small_title">근거 2: </h3>
                    <p class="title_text">
                        병원이 분산되어있고 병원의 수가 적은 곳은 치료가 가능한 질병임에도 불구하고 사망할 가능성이 매우 높습니다.
                        <br>치료가 필요한 시점에 바로 치료를 받을 수 있도록 병원과 가까운 곳에 거주할 필요성이 있다고 보았습니다.
                    </p>
                    <div class="map_container" style="padding-top: 50px;">
                        <hospital_map id="hospital_map"></hospital_map>
                        <survive_map id="survive_map"></survive_map>
                    </div>
                    <p class="middle_text">
                        두 그래프를 비교해보면, 병원이 밀집해 있는 지역은 치료 가능 사망자 수가 적은 반면, 병원의 위치가 분산되어 있는 지역은 치료 가능 사망자 수가 높다는 사실을 확인할 수 있습니다.
                    </p>
                    <img src="../static/image/data_img/11.png" alt="My Image">
                    <p class="middle_text">
                        이를 토대로 한 상관 분석 결과, 병원 수가 적을수록 치료 가능 사망자 수가 많고, 병원 수가 많을수록 치료 가능 사망자 수가 적은, 음의 상관관계를 확인할 수 있습니다.
                    </p>
                    <p class="sub_text">
                        음의 상관관계로 추측되는 그래프를 확인할 수 있고,
                        <br>피어슨 상관계수와 상관계수 검정의 결과는 (-0.5470754353581047, 0.023040838287424443) 
                        <br>상관계수는 약 -0.547이 나왔고
                        <br>p-value는 0.023으로
                        <br>유의수준 5%에 유의한 가설검정 결과가 나왔습니다.
                    </p>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
        <script src="../static/js/intro.js"></script>
    </div>
</body>
</html>