<html>
<head>
    <meta charset="utf-8">
    <title>키워드로 장소검색하고 목록으로 표출하기</title>
    <link rel="stylesheet" href="../static/css/location.css">
</head>

<body>
    <div>
        <div>
            <h1>보호자의 위치와 자주 가는 병원의 위치를 검색을 통해 지정해주세요.</h1>
        </div>
        <div>
            <h4>보호자의 위치</h4>
            <div id="showProtectorLocation">
            </div>
        </div>
        <div>
            <h4>자주 가는 병원의 위치</h4>
            <div id="showHospitalLocation">
            </div>
        </div>
    </div>
    <div class="map_wrap">
        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>


        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        키워드 : <input type="text" value="현대아파트" id="keyword" size="15"> 
                        <button type="submit">검색하기</button> 
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>
    <div>
        <button onclick="nextPage()">다음</button>
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c42df0ddd0b0d12d81982f5cccb9e7b3&libraries=services"></script>
    <script type="text/javascript" src="../static/js/location.js"></script>

</body>
</html>