<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>의료 사각지대 해소 웹서비스</title>
</head>
<body>
    <form action = "" method="post">
        {{ form.csrf_token }}
        <h1>로그인</h1>

        <!-- 이메일 입력 -->
        <div>
            <input type="text" placeholder="Email" id="email" name="email" 
                    value="{{ form.email.data or '' }}">
        </div>
        <!-- 필드 에러(폼 검증에 실패한 경우) -->
        {% if form.email.errors %}
        <div class="error">
            {{ form.email.errors.0 }}
        </div>
        {% endif %}
        <!-- flash 에러 -->
        {% with errors = get_flashed_messages(category_filter=["email_error"]) %}
        {% if errors %}
        <div class="error">
            {{ errors[-1] }}
        </div>
        {% endif %}
        {% endwith %}

        <!-- 비밀번호 입력 -->
        <div>
            <input type="password" placeholder="Password" id="password" name="password" 
                    value="{{ form.password.data or '' }}">
        </div>
        <!-- 필드 에러(폼 검증에 실패한 경우) -->
        {% if form.password.errors %}
        <div class="error">
            {{ form.password.errors.0 }}
        </div>
        {% endif %}
        <!-- flash 에러 -->
        {% with errors = get_flashed_messages(category_filter=["pw_error"]) %}
        {% if errors %}
        <div class="error">
            {{ errors[-1] }}
        </div>
        {% endif %}
        {% endwith %}

        <br><input type = "submit" id="sign-in" value = "Sign In" />

    </form>
</body>
</html>
