
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <title> - 의료 사각지대 해소 웹서비스</title>
    
<body>
    <header>
        <nav class = "nav_bar">
        <a href="/location"><img src="../static/image/logo.png" alt="logo" width=150px; height=80%;></a>
        <a class="menu" href="/intro">서비스 소개</a>
        <a class="menu" href="/location">거주지 검색</a>
        <a class="menu" href="/hospital">전국병원지도</a>
        <button class="menu" onclick="showMypage()">마이페이지</button>
        {% if g.user %}
        <!-- <a href="/mypage">
            <button class="button"><h1 class="button-text">집바구니</h1></button>
        </a> -->
        <a href="/logout">
            <button class="button"><h1 class="button-text" style="font-family: 'MaplestoryOTFBold';">로그아웃</h1></button>
        </a>
        {% else %}
        <a href="/login">
            <button class="button"><h1 class="button-text" style="font-family: 'MaplestoryOTFBold';">로그인</h1></button>
        </a>
        {% endif %}
        
        </nav>
    </header>
{% block content %}
{% endblock %}
<script type="text/javascript" src="../static/js/nav.js"></script>
