<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>의료 사각지대 해소 웹서비스</title>
</head>
<body>
    <form action = "residence.html" method = "post">
        <h1>주거지 찾기</h1>
        <div>
            보호자의 위치를 입력해주세요.<br>
            <input type="text" id="protector"><br>
            고정적으로 방문할 의료・복지 시설이 있다면 입력해주세요.<br>
            <input type="text" id="facility"><br><br>
        </div>
    </form>


    <div id="map" style="width:70%;height:400px;"></div>
    <script type="text/javascript" src="../static/js/map.js"></script>


</body>
</html>
