<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/residence.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body>
    {% extends "nav.html" %}
    {% block content %}
    <div class="row_content">
        <div id="showPickedHouse">
        </div>
        <div class="filtering_box">
            <div id="condition_text">
                <h3>원하는 추가 조건이 있다면 입력해주세요.</h3>
            </div>
            <div>
                <div id="house_type">
                    <h4>유형</h4>
                </div>
                <div id="house_checkbox">
                    <label class="radio-inline">
                        <input type="checkbox" id="checkApartment" value="apartment" onchange="handleChangeTypeFilter()"> 아파트
                    </label>
                    <label class="radio-inline">
                        <input type="checkbox" id="checkOfficetel" value="officetel" onchange="handleChangeTypeFilter()"> 오피스텔
                    </label>
                </div>
            </div>
                <div id="deal_type">
                    <h4>거래방식</h4>
                </div>
                <div id="deal_checkbox">
                    <label class="radio-inline">
                        <input type="checkbox" id="checkSale" value="sale" onchange="handleChangeTradeFilter()"> 매매
                    </label>
                    <label class="radio-inline">
                        <input type="checkbox" id="checkJeonse" value="jeonse" onchange="handleChangeTradeFilter()"> 전세
                    </label>
                </div>
            <div id="salePriceDiv" style="display:none">
                <div class="money_type">
                    <h4>매매가</h4>
                </div>
                <form class="form-inline">
                    <div class="form-group">
                      <input type="text" id="minSalePriceInput" class="form-control" onchange="handleChangeSalePriceFilter()">
                    </div>
                    천만 원부터
    
                    <div class="form-group">
                      <input type="text" id="maxSalePriceInput" class="form-control" onchange="handleChangeSalePriceFilter()">
                    </div>
                    천만 원까지
                </form>
            </div>
            <div id="jeonsePriceDiv" style="display:none">
                <div class="money_type">
                    <h4>전세가</h4>
                </div>
                <form class="form-inline">
                    <div class="form-group">
                      <input type="text" id="minJeonsePriceInput" class="form-control" onchange="handleChangeJeonsePriceFilter()">
                    </div>
                    천만 원부터
                    
                    <div class="form-group">
                      <input type="text" id="maxJeonsePriceInput" class="form-control" onchange="handleChangeJeonsePriceFilter()">
                    </div>
                    천만 원까지
                </form>
            </div>
            <div id="spaceInputDiv">
                <div id="space_input">
                    <h4>전용 면적</h4>
                </div>
                <form class="form-inline">
                    <div class="form-group">
                      <input type="text"  id="minAreaInput" class="form-control" onchange="handleChangeAreaFilter()"> 평 부터
                    </div>
                    <div class="form-group">
                        <input type="text" id="maxAreaInput" class="form-control" onchange="handleChangeAreaFilter()"> 평 까지
                    </div>
                </form>
            </div>
            <div id="search-btn">
                <button onclick="search()">조건 적용 검색</button>
            </div>
            <div id="page-btn">
                <button type="button" class="btn_pre" onclick="location.href='/location'">위치 입력<br> 페이지로<br> 돌아가기</button>
                <button type="button" class="btn_pro" onclick="nextPage()">후보 매물<br> 비교해서<br> 보기</button>
            </div>
        </div>
    </div>
        <div class="map">
        <div id="map" style="width:100%;height:100vh;"></div>
        </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c42df0ddd0b0d12d81982f5cccb9e7b3&libraries=services"></script>
    <script type="text/javascript" src="../static/js/location.js"></script>
    <script type="text/javascript" src="../static/js/residence.js"></script>

</body>{% endblock %}
</html>