<html>
<head>
    <meta charset="utf-8">
    <title>키워드로 장소검색하고 목록으로 표출하기</title>
    <link rel="stylesheet" href="../static/css/residence.css">
</head>
<body>
    <header>
        <nav class = "nav_bar">
        <a href="/"><img src="../static/image/logo.png" alt="logo" width=150px; height=80%;></a>
        <a class="menu" href="">HOME</a>
        <a class="menu" href="">ABOUT</a>
        <a class="menu" href="/hospital">MAP</a>

        <a class="menu" href="">MY PAGE</a>
        <div class="container">
            <a data-animation="ripple"><span style="font-weight: bold;">LOGIN</span></a>
          </div>
        </nav>
    <header>
<div>
    <div>
        <h1>보호자의 위치를 입력해주세요.</h1>
    </div>
</div>
<div class="map_wrap">
    <div id="map" style="width:100%;height:100%"></div>

    <div id="menu_wrap" class="bg_white">
        <div class="option">
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    키워드 : <input type="text" value="현대아파트" id="keyword" size="15"> 
                    <button type="submit">검색하기</button> 
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>
</div>
</body>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0c75c4a5c68807afeb2551df3e2d7902&libraries=services"></script>
<script type="text/javascript" src="../static/js/residence.js"></script>
</html>